Mitsuri/config.py
logfile
Mitsuri.session
Mitsuri.session-journal
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
okgoogle.png
*.backup
sticker.png
kangsticker.png
kangsticker.tgs
kangsticker
Mitsuri.mp3
gpic.png￼Enter
